@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main>
    <!-- signup__area start -->
    <section class="signup__area po-rel-z1 pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-xxl-6 offset-xxl-3 col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
                    <div class="sign__wrapper white-bg">
                        @*<div class="sign__header mb-35">
                                <div class="sign__in text-center">
                                    <a href="#" class="sign__social g-plus text-start mb-15"><i class="fab fa-google-plus-g"></i>Sign Up with Google</a>
                                    <p> <span>........</span> Or, <a href="sign-up.html">sign up</a> with your email<span> ........</span> </p>
                                </div>
                            </div>*@
                        <div class="sign__form">
                            <form>
                                <div class="sign__input-wrapper mb-25">
                                    <h5>Work email</h5>
                                    <div class="sign__input">
                                        <input type="email" id="Email" required placeholder="e-mail address">
                                        <i class="fal fa-envelope"></i>
                                    </div>
                                </div>
                                <button class="btn-tp w-100" id="btn_signUp"> <span></span>Send Password</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- signup__area end -->

</main>
@section Footer{
    <script>
        $(document).ready(function () {
            $("#btn_signUp").click(function (e) {
                var Email = $("#Email").val();
                $.ajax({
                    url: "/user/forgotpassword",
                    type: "Get",
                    data: { email: Email },
                    success: function (data) {
                        if (data.error == null) {
                            alert(data.success);
                            window.location.href = data.url;
                        } else {
                            alert(data.error);
                        }
                    }
                })
                e.preventDefault();
            })
        })
    </script>
    }