
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <!-- signin__area start -->
    <section class="signin__area po-rel-z1 pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-xxl-6 offset-xxl-3 col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
                    <div class="sign__wrapper white-bg">
                        @*<div class="sign__header mb-35">
                            <div class="sign__in text-center">
                                <a href="#" class="sign__social text-start mb-15"><i class="fab fa-facebook-f"></i>Sign in with Facebook</a>
                                <p> <span>........</span> Or, <a href="sign-in.html">sign in</a> with your email<span> ........</span> </p>
                                <a href="#" class="sign__social g-plus text-start mb-15"><i class="fab fa-google-plus-g"></i>Sign Up with Google</a>
                             </div>
                        </div>*@
                        <div class="sign__form">
                            <form id="formLogin">
                                <div class="sign__input-wrapper mb-25">
                                    <h5>Your Email</h5>
                                    <div class="sign__input">
                                        <input type="text" id="email" required placeholder="e-mail address"
                                               oninvalid="this.setCustomValidity('Enter Email Here')"
                                               oninput="this.setCustomValidity('')">
                                        <i class="fal fa-envelope"></i>
                                    </div>
                                </div>
                                <div class="sign__input-wrapper mb-10">
                                    <h5>Password</h5>
                                    <div class="sign__input">
                                        <input type="password" id="password" required placeholder="Password"
                                               oninvalid="this.setCustomValidity('Enter Password Here')"
                                               oninput="this.setCustomValidity('')">
                                        <i class="fal fa-lock"></i>
                                    </div>
                                </div>
                                <div class="sign__action d-sm-flex justify-content-between mb-30">
                                    <div class="sign__agree d-flex align-items-center">
                                        <input class="m-check-input" type="checkbox" id="m-agree">
                                        <label class="m-check-label" for="m-agree">
                                            Keep me signed in
                                        </label>
                                    </div>
                                    <div class="sign__forgot">
                                        <a href="/login/forgotpassword">Forgot your password?</a>
                                    </div>
                                </div>
                                <button class="btn-tp w-100"> <span></span> Sign In</button>
                                <div class="sign__new text-center mt-20">
                                    <p>New to Markit? <a href="/login/signup">Sign Up</a></p>
                                </div>
                            </form>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- signin__area end -->

</main>
@section Footer{    
    <script>
        $(document).ready(function () {
            $("#formLogin").submit(function (e) {
                $.ajax({
                    url: "/login/login",
                    type: "Get",
                    dataType: "json",
                    data: {
                        email: $("#email").val(),
                        password: $("#password").val()
                    },
                    success: function (response) { 
                        if (response.erorr == null) {
                            window.location.href = response.success;
                        }
                        else {
                            alert(response.erorr);
                        }
                    },
                })
                e.preventDefault();
            });
        });
        
    </script>    
}
