
@{
    ViewBag.Title = "ProductManagement";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
    <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
            <h5 class="font-weight-bolder mb-0">Quản lý sản phẩm</h5>
            <a class="btn btn-primary" href="@Url.Action("Create", "ProductManagement")">Thêm sản phẩm</a>
        </nav>
        <div class="col-md-2">
            <div class="input-group input-group-outline my-3">
                <label class="form-label">Tên sản phẩm</label>
                <input type="text" id="search" class="form-control" />
            </div>
        </div>
    </div>
</nav>
<table class="table" style=" text-align: center">
    <tr>
        <th>STT</th>
        <th>Mã sản phẩm</th>
        <th>Mã loại</th>
        <th>Mã nhà cung cấp</th>
        <th>Tên sản phẩm</th>
        <th>Giá nhập</th>
        <th>Giá bán</th>
        <th>Lượt thích</th>
        <th>Lượt đánh giá</th>
        <th>Đánh giá</th>
        <th>Trạng thái</th>
        <th></th>
        <th>Ngày tạo</th>
        <th>Tạo bởi</th>
        <th>Ngày chỉnh sửa</th>
        <th>Người chỉnh sửa</th>
    </tr>
</table>
@section Footer{
    <script>
        var tables = document.getElementsByTagName('table');
        var table = tables[tables.length - 1];
        var rows = table.rows;
        for (var i = 1, td; i < rows.length; i++) {
            td = document.createElement('td');
            td.appendChild(document.createTextNode(i));
            rows[i].insertBefore(td, rows[i].firstChild);
        }
    </script>
    <script>
        $("#search").on("keyup", function () {
            var value = $(this).val();

            $("table tr").each(function (index) {
                if (index !== 0) {

                    $row = $(this);

                    var id = $row.find("td").eq(3).text();

                    if (id.indexOf(value) === -1) {
                        $row.hide();
                    }
                    else {
                        $row.show();
                    }
                }
            });
        });
    </script>
}
