
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <!-- cart-area start -->
    <section class="cart-area pt-120 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form action="#">
                        <div class="table-content table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="product-thumbnail">Images</th>
                                        <th class="cart-product-name">Product</th>
                                        <th class="product-subtotal">Color</th>
                                        <th class="product-subtotal">Option</th>
                                        <th class="product-price">Unit Price</th>
                                        <th class="product-quantity">Quantity</th>
                                        <th class="product-subtotal">Total</th>
                                        <th class="product-remove">Remove</th>
                                    </tr>
                                </thead>
                                <tbody id="tableItemCart">
                                    
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="coupon-all">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="col-md-5">
                                <div class="cart-page-total">
                                    <h2>Cart totals</h2>
                                    <ul class="mb-20">
                                        <li>Subtotal <span id="testtotal">$250.00</span></li>
                                        <li>Total <span id="totalPayment">$250.00</span></li>
                                    </ul>
                                    <a class="btn-tp-2" href="~/cart/checkout">Proceed to checkout</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- cart-area end -->

</main>
@section Footer{
    <script>
        $(document).ready(function () {
            TableCart();
        })
        function TableCart() {
            $.ajax({
                url: "/cart/getyourcart",
                type: "Get",
                success: function (data) {
                    if (data.total != 0) {
                        var str = ``;
                        for (var i = 0; i < data.data.length; i++) {
                            var sellprice = data.data[i].SalePrice == null ? data.data[i].sellprice : data.data[i].SalePrice;
                            str += `<tr>
                                        <td class="product-thumbnail"><a href="/home/DetailProduct/?id=${data.data[i].ProductID}"> ${ShowImg(data.data[i])}</a></td>
                                        <td class="product-name"><a href="/home/DetailProduct/?id=${data.data[i].ProductID}">${data.data[i].DisplayName}</a></td>
                                        <td class="product-name">${data.data[i].Color}</td>
                                        <td class="product-name">${data.data[i].Option}</td>
                                        <td class="product-price"><span class="amount">${sellprice}VND</span></td>
                                        <td class="product-quantity">
                                            <div class="cart-plus-minus"><input type="number" min="1" id="product${data.data[i].ProductID}${data.data[i].ColorID}${data.data[i].OptionID}" value="${data.data[i].Quantity}"></div>
                                        </td>
                                        <td class="product-subtotal"><span class="amount" id="GetTotal${data.data[i].ProductID}${data.data[i].ColorID}${data.data[i].OptionID}">${data.data[i].Quantity * sellprice}VND</span></td>
                                        <td class="product-remove"><a onclick="DeleteItemCart('${data.data[i].ProductID}','${data.data[i].ColorID}','${data.data[i].OptionID}')"><i class="fa fa-times"></i></a></td>
                                    </tr>`
                        }
                        $("#tableItemCart").html(str);
                        for (var i = 0; i < data.data.length; i++) {
                            $(`#product${data.data[i].ProductID}${data.data[i].ColorID}${data.data[i].OptionID}`).change(function () {
                                if ($(this).val() < 1) {
                                    alert("Quantity more than 1");
                                    $(this).val(1);

                                } else {
                                    for (var j = 0; j < data.data.length; j++) {
                                        var sellprice = data.data[j].SalePrice == null ? data.data[j].sellprice : data.data[j].SalePrice;
                                        if (("product" + data.data[j].ProductID + data.data[j].ColorID + data.data[j].OptionID) == $(this).attr('id')) {
                                            $(`#GetTotal${data.data[j].ProductID}${data.data[j].ColorID}${data.data[j].OptionID}`).text($(this).val() * sellprice + "VND");
                                            if ($(this).val > data.data[j].Quantity) {
                                                alert("The product not enought!");
                                                $(this).val(data.data[j].Quantity);
                                            } else {
                                                data.data[j].Quantity = $(this).val();
                                            }
                                        }
                                    }
                                }
                            })
                        }
                        $("#update_cart").click(function (e) {
                            $.ajax({
                                url: "/cart/updatecart",
                                type: "Put",
                                data: { item: data.data },
                                success: function (data) {
                                    console.log(data);
                                }
                            })
                            e.preventDefault();
                        })

                        
                    }
                }
            })
        }

        













        function minusCart() {
            $(".cart-plus-minus").append('<div class="dec qtybutton">-</div><div class="inc qtybutton">+</div>');
            $(".qtybutton").on("click", function () {
                var $button = $(this);
                var oldValue = $button.parent().find("input").val();
                if ($button.text() == "+") {
                    var newVal = parseFloat(oldValue) + 1;
                } else {
                    // Don't allow decrementing below zero
                    if (oldValue > 0) {
                        var newVal = parseFloat(oldValue) - 1;
                    } else {
                        newVal = 0;
                    }
                }
                $button.parent().find("input").val(newVal);
            });
        }

    </script>

    }
