<div class="modal fade" id="CreateModalID_Admin" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="font-robo">
                    <div class="wrapper wrapper--w680">
                        <div>
                            <div>
                                <form method="POST">
                                    <!--TextBox-->
                                    <div class="input-group">
                                        <input class="input--style-1" type="text" placeholder="Mã loại" name="name">
                                    </div>
                                    <!--End-->
                                    <!--Two element on the same row-->
                                    <div class="row row-space">

                                    </div>
                                    <!---->
                                    <div class="row row-space">
                                        <!--Datetime picker-->
                                        <div class="col-2">
                                            <div class="input-group">
                                                <input class="input--style-1 js-datepicker" type="text" placeholder="Tên loại" name="birthday">
                                                <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                            </div>
                                        </div>
                                        <!--End-->
                                        <!--Combobox-->
                                        <div class="col-2">
                                            <div class="input-group">
                                                <div class="rs-select2 js-select-simple select--no-search">
                                                    <select name="gender">
                                                        <option disabled="disabled" selected="selected">GENDER</option>
                                                        <option>Male</option>
                                                        <option>Female</option>
                                                        <option>Other</option>
                                                    </select>
                                                    <div class="select-dropdown"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--End-->
                                    </div>
                                    <div class="input-group">
                                        <div class="rs-select2 js-select-simple select--no-search">
                                            <select name="class">
                                                <option disabled="disabled" selected="selected">CLASS</option>
                                                <option>Class 1</option>
                                                <option>Class 2</option>
                                                <option>Class 3</option>
                                            </select>
                                            <div class="select-dropdown"></div>
                                        </div>
                                    </div>
                                    <div class="row row-space">
                                        <div class="col-2">
                                            <div class="input-group">
                                                <input class="input--style-1" type="text" placeholder="REGISTRATION CODE" name="res_code">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!--Create modal start -->
<div class="modal fade" id="CreateModalID_Admin" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        @using (Html.BeginForm("Create", "CategorizeManagement", FormMethod.Post))
        {
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thêm loại sản phẩm</h5>
                </div>

                <div class="modal-body">
                    <div class="font-robo">
                        <div class="wrapper wrapper--w680">
                            <div>
                                <div>
                                    <div class="input-group">
                                        <input class="input--style-1" type="text" placeholder="Mã loại" name="CategorizeID">
                                    </div>
                                    <div class="input-group">
                                        <input class="input--style-1" type="text" placeholder="Tên loại" name="DisplayName">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary">Thêm</button>
                </div>

            </div>
        }
    </div>
</div>
<!--end-->
<!--Edit modal start -->
<div class="modal fade" id="EditModalID_Admin" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "Edit_form" }))
            {
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thêm loại sản phẩm</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="font-robo">
                        <div class="wrapper wrapper--w680">
                            <div>
                                <div>
                                    <div>
                                        <div class="input-group">
                                            <input class="input--style-1" id="txtID" type="text" placeholder="Mã loại" name="CategorizeID" readonly="readonly">
                                        </div>
                                        <div class="input-group">
                                            <input class="input--style-1" id="txtDisplayName" type="text" placeholder="Tên loại" name="DisplayName">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                </div>
            }
        </div>
    </div>
</div>
<!--end-->
<!--Ajax script-->
<script>
    function GetDetails(id) {
        $.ajax({
            url: "/CategorizeManagement/Edit",
            typr: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            data: { id: id },
            success: function (response) {
                console.log(response);
                $('#txtID').val(response.CategorizeID);
                $('#txtDisplayName').val(response.DisplayName);
                $('#EditModalID_Admin').modal('show');
                $('#Edit_form').attr('action', '/Admin/CategorizeManagement/Form_Edit/' + id)
            },
            error: function (response) {
                alert(response.responseText);

            }
        });
        return false;
    }
</script>
<!--End-->
<!--Special character check-->
<script>
    $('input').on('keypress', function (event) {
        var regex = new RegExp("^[a-zA-Z0-9]+$");
        var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
        if (!regex.test(key)) {
            event.preventDefault();
            return false;
        }
    });
</script>
<!--End-->
<!--Section script-->
@section Footer{
    <script src="~/Areas/assets/form/vendor/datepicker/moment.min.js"></script>
    <script src="~/Areas/assets/form/vendor/datepicker/daterangepicker.js"></script>
    <script src="~/Areas/assets/form/vendor/select2/select2.min.js"></script>
    <script src="~/Areas/assets/form/js/global.js"></script>
}
<!--End-->