
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Header{
    <link href="~/Assets/css/StyleProfile.css" rel="stylesheet" />
}

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">Edogaru</span><span class="text-black-50">edogaru@mail.com.my</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12"><label class="labels">Name</label>
                    <input id="customerName" class="form-control" placeholder="first name">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Mobile Number</label>
                        <input id="phone" class="form-control" placeholder="enter phone number">
                    </div>
                    <div class="col-md-12"><label class="labels">Email ID</label><input id="email" class="form-control" placeholder="enter email id" /></div>
                </div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed border-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Change Password
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse border-0" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="col-md-12"><label class="labels">Old Password</label><input type="text" class="form-control" placeholder="experience" value=""></div> <br>
                            <div class="col-md-12"><label class="labels">New Password</label><input type="text" class="form-control" placeholder="additional details" value=""></div>
                            <div class="col-md-12"><label class="labels">Re-Password</label><input type="text" class="form-control" placeholder="additional details" value=""></div>
                            <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save</button></div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="col-md-12" id="headingThree">
                        <button class="accordion-button collapsed border-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Show Address
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse border-0" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-primary profile-button" data-bs-toggle="modal" data-bs-target="#addAddress" type="button">Remove</button>
                                </div>
                            </div>                        </div>
                        <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Add Adress</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addAddress" tabindex="-1" aria-labelledby="addAddress" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Address </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="col-md-12"><label class="labels">Old Password</label><input type="text" class="form-control" placeholder="Input new Address" value=""></div> <br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section Footer{
    <script>
        //get information
        $(document).ready(function () {
            $.ajax({
                url: "/user/information",
                type: "get",
                success: function (data) {
                    if (data.url != null) {
                        window.location.href = data.url;
                    } else {
                        $("#customerName").val(data.data.DisplayName);
                        $("#phone").val(data.data.Phone);
                        $("#email").val(data.data.Email);
                    }
                    
                }
            })
        })
    </script>
}