@{
    ViewBag.Title = "Home Page";
}
<main>
    <!-- slider area start -->
    <section class="slider__area">
        <div class="slider__active swiper-container">
            <div class="swiper-wrapper">
                <div class="slider__item slider__height swiper-slide d-flex align-items-center include-bg" data-background="Assets/img/slider/Banner2.jpg">
                    <div class="container">
                        <div class="row">
                            <div class="col-xxl-5">
                                <div class="slider__content p-relative z-index-11">
                                    <span data-animation="fadeInUp" data-delay=".3s">SUMMER ‘21</span>
                                    <h3 class="slider__title" data-animation="fadeInUp" data-delay=".5s">Office Style</h3>
                                    <div class="slider__btn" data-animation="fadeInUp" data-delay=".4s">
                                        <a href="~/home/shop" class="slider-btn">Discover Now <i class="fal fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider__item slider__height swiper-slide d-flex align-items-center include-bg" data-background="Assets/img/slider/Banner3.jpg">
                    <div class="container">
                        <div class="row">
                            <div class="col-xxl-5">
                                <div class="slider__content p-relative z-index-11">
                                    <span data-animation="fadeInUp" data-delay=".3s">SUMMER ‘21</span>
                                    <h3 class="slider__title" data-animation="fadeInUp" data-delay=".5s">Living Luxury</h3>
                                    <div class="slider__btn" data-animation="fadeInUp" data-delay=".4s">
                                        <a href="~/home/shop" class="slider-btn">Discover Now <i class="fal fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider__item slider__height swiper-slide d-flex align-items-center include-bg" data-background="Assets/img/slider/Banner4.jpg">
                    <div class="container">
                        <div class="row">
                            <div class="col-xxl-5">
                                <div class="slider__content p-relative z-index-11">
                                    <span data-animation="fadeInUp" data-delay=".3s">SUMMER ‘21</span>
                                    <h3 class="slider__title" data-animation="fadeInUp" data-delay=".5s">Living Luxury</h3>
                                    <div class="slider__btn" data-animation="fadeInUp" data-delay=".4s">
                                        <a href="~/home/shop" class="slider-btn">Discover Now <i class="fal fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider__item slider__height swiper-slide d-flex align-items-center include-bg" data-background="Assets/img/slider/Banner5.jpg">
                    <div class="container">
                        <div class="row">
                            <div class="col-xxl-5">
                                <div class="slider__content p-relative z-index-11">
                                    <span data-animation="fadeInUp" data-delay=".3s">SUMMER ‘21</span>
                                    <h3 class="slider__title" data-animation="fadeInUp" data-delay=".5s">Living Luxury</h3>
                                    <div class="slider__btn" data-animation="fadeInUp" data-delay=".4s">
                                        <a href="~/home/shop" class="slider-btn">Discover Now <i class="fal fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider__item slider__height swiper-slide d-flex align-items-center include-bg" data-background="Assets/img/slider/Banner6.jpg">
                    <div class="container">
                        <div class="row">
                            <div class="col-xxl-5">
                                <div class="slider__content p-relative z-index-11">
                                    <span data-animation="fadeInUp" data-delay=".3s">SUMMER ‘21</span>
                                    <h3 class="slider__title" data-animation="fadeInUp" data-delay=".5s">Living Luxury</h3>
                                    <div class="slider__btn" data-animation="fadeInUp" data-delay=".4s">
                                        <a href="~/home/shop" class="slider-btn">Discover Now <i class="fal fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider__item slider__height swiper-slide d-flex align-items-center include-bg" data-background="Assets/img/slider/Banner7.jpg">
                    <div class="container">
                        <div class="row">
                            <div class="col-xxl-5">
                                <div class="slider__content p-relative z-index-11">
                                    <span data-animation="fadeInUp" data-delay=".3s">SUMMER ‘21</span>
                                    <h3 class="slider__title" data-animation="fadeInUp" data-delay=".5s">Living Luxury</h3>
                                    <div class="slider__btn" data-animation="fadeInUp" data-delay=".4s">
                                        <a href="~/home/shop" class="slider-btn">Discover Now <i class="fal fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-slider-pagination">
                <button class="main-slider-button-prev"><i class="fal fa-angle-left"></i></button>
                <button class="main-slider-button-next"><i class="fal fa-angle-right"></i></button>
            </div>
        </div>
    </section>
    <!-- slider area end -->
    <!-- category area start -->
    <section class="category__area pt-40 grey-bg-3">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="section__title-wrapper section__title-line mb-40">
                        <h3 class="section__title">Top Categories</h3>
                    </div>
                </div>
            </div>
            <div class="row" id="top-categorize">


            </div>
        </div>
    </section>
    <!-- category area end -->
    <!-- product area start -->
    <section class="product__area pt-95 pb-80">
        <div class="container">
            <div class="row">
                <div class="col-xxl-5 col-xl-6 col-lg-6">
                    <div class="product__sale-wrapper">
                        <div class="section__title-wrapper mb-20">
                            <h3 class="section__title-2">Sale Products</h3>
                        </div>
                        <div class="product__sale-slider common-nav owl-carousel" id="sale-product1">

                        </div>
                    </div>
                </div>
                <div class="col-xxl-7 col-xl-6 col-lg-6">
                    <div class="product__item-wrapper pt-15">
                        <div class="product__top section__title-line d-sm-flex align-items-start mb-35">
                            <div class="section__title-wrapper mr-30">
                                <h3 class="section__title">Recommed for you</h3>
                            </div>
                            <div class="product__tab">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="new-tab" data-bs-toggle="tab" data-bs-target="#new" type="button" role="tab" aria-controls="new" aria-selected="true">New</button>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="product__tab-content">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="new" role="tabpanel" aria-labelledby="new-tab">
                                    <div class="product__item-slider common-nav owl-carousel">
                                        <div class="product__item-single">
                                            <div class="product__item mb-20">
                                                <div class="product__thumb w-img fix">
                                                    <a href="~/home/DetailProduct">
                                                        <img src="~/Assets/img/products/product-1.jpg" alt="">
                                                    </a>
                                                    <div class="product__action transition-3">
                                                        <ul>
                                                            <li>
                                                                <a href="#">
                                                                    <svg viewBox="0 0 22 22">
                                                                        <path d="M20.26,11.3c2.31-2.36,2.31-6.18-0.02-8.53C19.11,1.63,17.6,1,16,1c0,0,0,0,0,0c-1.57,0-3.05,0.61-4.18,1.71c0,0,0,0,0,0
                                                                            L11,3.41l-0.81-0.69c0,0,0,0,0,0C9.06,1.61,7.58,1,6,1C4.4,1,2.89,1.63,1.75,2.77c-2.33,2.35-2.33,6.17-0.02,8.53
                                                                            c0,0,0,0.01,0.01,0.01l0.01,0.01c0,0,0,0,0,0c0,0,0,0,0,0L11,20.94l9.25-9.62c0,0,0,0,0,0c0,0,0,0,0,0L20.26,11.3
                                                                            C20.26,11.31,20.26,11.3,20.26,11.3z M3.19,9.92C3.18,9.92,3.18,9.92,3.19,9.92C3.18,9.92,3.18,9.91,3.18,9.91
                                                                            c-1.57-1.58-1.57-4.15,0-5.73C3.93,3.42,4.93,3,6,3c1.07,0,2.07,0.42,2.83,1.18C8.84,4.19,8.85,4.2,8.86,4.21
                                                                            c0.01,0.01,0.01,0.02,0.03,0.03l1.46,1.25c0.07,0.06,0.14,0.09,0.22,0.13c0.01,0,0.01,0.01,0.02,0.01c0.13,0.06,0.27,0.1,0.41,0.1
                                                                            c0.08,0,0.16-0.03,0.25-0.05c0.03-0.01,0.07-0.01,0.1-0.02c0.07-0.03,0.13-0.07,0.2-0.11c0.03-0.02,0.07-0.03,0.1-0.06l1.46-1.24
                                                                            c0.01-0.01,0.02-0.02,0.03-0.03c0.01-0.01,0.03-0.01,0.04-0.02C13.93,3.42,14.93,3,16,3c0,0,0,0,0,0c1.07,0,2.07,0.42,2.83,1.18
                                                                            c1.56,1.58,1.56,4.15,0,5.73c0,0,0,0.01-0.01,0.01c0,0,0,0,0,0L11,18.06L3.19,9.92z" />
                                                                    </svg>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#productModalId">
                                                                    <svg viewBox="0 0 22 22">
                                                                        <path d="M11,19c-6.53,0-10.42-7.23-10.58-7.53L0.17,11l0.25-0.47C0.58,10.23,4.47,3,11,3s10.42,7.23,10.58,7.53L21.83,11l-0.25,0.47
                                                                            C21.42,11.77,17.53,19,11,19z M2.46,11c0.92,1.49,4.08,6,8.54,6c4.48,0,7.63-4.51,8.54-6C18.62,9.52,15.46,5,11,5
                                                                            C6.52,5,3.37,9.51,2.46,11z M11,15c-2.21,0-4-1.79-4-4s1.79-4,4-4s4,1.79,4,4S13.21,15,11,15z M11,9c-1.1,0-2,0.9-2,2s0.9,2,2,2
                                                                            s2-0.9,2-2S12.1,9,11,9z" />
                                                                    </svg>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="product__content text-center">
                                                    <div class="product__tag">
                                                        <span>
                                                            <a href="#">Wooden</a>
                                                        </span>
                                                    </div>
                                                    <h3 class="product__title">
                                                        <a href="~/home/DetailProduct">Mauris volutpat id lorem ut efficitur</a>
                                                    </h3>
                                                    <div class="product__price">
                                                        <span class="price">$150.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product__item mb-20">
                                                <div class="product__thumb w-img fix">
                                                    <a href="~/home/DetailProduct">
                                                        <img src="~/Assets/img/products/product-4.jpg" alt="">
                                                    </a>
                                                    <div class="product__action transition-3">
                                                        <ul>
                                                            <li>
                                                                <a href="#">
                                                                    <svg viewBox="0 0 22 22">
                                                                        <path d="M20.26,11.3c2.31-2.36,2.31-6.18-0.02-8.53C19.11,1.63,17.6,1,16,1c0,0,0,0,0,0c-1.57,0-3.05,0.61-4.18,1.71c0,0,0,0,0,0
                                                                            L11,3.41l-0.81-0.69c0,0,0,0,0,0C9.06,1.61,7.58,1,6,1C4.4,1,2.89,1.63,1.75,2.77c-2.33,2.35-2.33,6.17-0.02,8.53
                                                                            c0,0,0,0.01,0.01,0.01l0.01,0.01c0,0,0,0,0,0c0,0,0,0,0,0L11,20.94l9.25-9.62c0,0,0,0,0,0c0,0,0,0,0,0L20.26,11.3
                                                                            C20.26,11.31,20.26,11.3,20.26,11.3z M3.19,9.92C3.18,9.92,3.18,9.92,3.19,9.92C3.18,9.92,3.18,9.91,3.18,9.91
                                                                            c-1.57-1.58-1.57-4.15,0-5.73C3.93,3.42,4.93,3,6,3c1.07,0,2.07,0.42,2.83,1.18C8.84,4.19,8.85,4.2,8.86,4.21
                                                                            c0.01,0.01,0.01,0.02,0.03,0.03l1.46,1.25c0.07,0.06,0.14,0.09,0.22,0.13c0.01,0,0.01,0.01,0.02,0.01c0.13,0.06,0.27,0.1,0.41,0.1
                                                                            c0.08,0,0.16-0.03,0.25-0.05c0.03-0.01,0.07-0.01,0.1-0.02c0.07-0.03,0.13-0.07,0.2-0.11c0.03-0.02,0.07-0.03,0.1-0.06l1.46-1.24
                                                                            c0.01-0.01,0.02-0.02,0.03-0.03c0.01-0.01,0.03-0.01,0.04-0.02C13.93,3.42,14.93,3,16,3c0,0,0,0,0,0c1.07,0,2.07,0.42,2.83,1.18
                                                                            c1.56,1.58,1.56,4.15,0,5.73c0,0,0,0.01-0.01,0.01c0,0,0,0,0,0L11,18.06L3.19,9.92z" />
                                                                    </svg>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#productModalId">
                                                                    <svg viewBox="0 0 22 22">
                                                                        <path d="M11,19c-6.53,0-10.42-7.23-10.58-7.53L0.17,11l0.25-0.47C0.58,10.23,4.47,3,11,3s10.42,7.23,10.58,7.53L21.83,11l-0.25,0.47
                                                                            C21.42,11.77,17.53,19,11,19z M2.46,11c0.92,1.49,4.08,6,8.54,6c4.48,0,7.63-4.51,8.54-6C18.62,9.52,15.46,5,11,5
                                                                            C6.52,5,3.37,9.51,2.46,11z M11,15c-2.21,0-4-1.79-4-4s1.79-4,4-4s4,1.79,4,4S13.21,15,11,15z M11,9c-1.1,0-2,0.9-2,2s0.9,2,2,2
                                                                            s2-0.9,2-2S12.1,9,11,9z" />
                                                                    </svg>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="product__content text-center">
                                                    <div class="product__tag">
                                                        <span>
                                                            <a href="#">Wooden</a>
                                                        </span>
                                                    </div>
                                                    <h3 class="product__title">
                                                        <a href="~/home/DetailProduct">Donec at ultricies augue</a>
                                                    </h3>
                                                    <div class="product__price">
                                                        <span class="price">$100.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product area end -->
    <!-- features area start -->
    <section class="features__area pb-70">
        <div class="container">
            <div class="row">
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="features__item text-center mb-30 features__item-border">
                        <div class="features__icon">
                            <i class="flaticon-truck"></i>
                        </div>
                        <div class="features__content">
                            <h3 class="features__title">Free Shipping</h3>
                            <p>Capped $39 per order</p>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="features__item text-center mb-30 features__item-border">
                        <div class="features__icon">
                            <i class="flaticon-credit-card"></i>
                        </div>
                        <div class="features__content">
                            <h3 class="features__title">Securety Payments</h3>
                            <p>Up to 12 months installments</p>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="features__item text-center mb-30 features__item-border">
                        <div class="features__icon">
                            <i class="flaticon-exchange"></i>
                        </div>
                        <div class="features__content">
                            <h3 class="features__title">14-Day Returns</h3>
                            <p>Shop with confidence</p>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="features__item text-center mb-30">
                        <div class="features__icon">
                            <i class="flaticon-call-center-agent"></i>
                        </div>
                        <div class="features__content">
                            <h3 class="features__title">24/7 Support</h3>
                            <p>Capped $39 per order</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- features area end -->
    <!-- product area start -->
    <section class="product__area pb-80">
        <div class="container">
            <div class="row">
                <div class="col-xxl-7 col-xl-6 col-lg-6">
                    <div class="product__item-wrapper-2 pt-15">
                        <div class="product__top section__title-line d-sm-flex align-items-start mb-35">
                            <div class="section__title-wrapper mr-30">
                                <h3 class="section__title">Trending Item</h3>
                            </div>
                            <div class="product__tab">
                                <ul class="nav nav-tabs" id="trendingTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="new-2-tab" data-bs-toggle="tab" data-bs-target="#new-2" type="button" role="tab" aria-controls="new-2" aria-selected="true">New</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="product__tab-content">
                            <div class="tab-content" id="trendingTabContent">
                                <div class="tab-pane fade show active" id="new-2" role="tabpanel" aria-labelledby="new-2-tab">
                                    <div class="product__item-slider common-nav owl-carousel" id="trendding-item">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-5 col-xl-6 col-lg-6">
                    <div class="product__sale-wrapper">
                        <div class="section__title-wrapper mb-20">
                            <h3 class="section__title-2">Sale Products</h3>
                        </div>
                        <div class="product__sale-slider common-nav owl-carousel" id="sale-product2">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product area end -->
    <!-- banner area start -->
    <section class="banner__area pb-100">
        <div class="container">
            <div class="row gx-0">
                <div class="col-xxl-4 col-xl-4 col-lg-4">
                    <div class="banner__content text-center grey-bg-4" id="product-bestsaller">
                        
                    </div>
                </div>
                <div class="col-xxl-8 col-xl-8 col-lg-8">
                    <div class="banner__thumb-big w-img" id="img-product-best-saller">
                        <img src="~/Assets/img/products/banner/banner-2.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner area end -->
    <!-- product trending area start -->
    <section class="product__area-trending pb-85">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="product__item-wrapper">
                        <div class="product__top section__title-line d-sm-flex align-items-start mb-35">
                            <div class="section__title-wrapper mr-30">
                                <h3 class="section__title">New Arrival</h3>
                            </div>
                            <div class="product__tab">
                                <ul class="nav nav-tabs" id="myTab2" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="new-3-tab" data-bs-toggle="tab" data-bs-target="#new-3" type="button" role="tab" aria-controls="new-3" aria-selected="true">New</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xxl-12">
                    <div class="product__tab-content">
                        <div class="tab-content" id="myTab2Content">
                            <div class="tab-pane fade show active" id="new-3" role="tabpanel" aria-labelledby="new-3-tab">
                                <div class="product__item-trending-slider common-nav owl-carousel" id="product-arrival">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product trending area end -->
    <!-- shop modal start -->
    <div class="modal fade" id="productModalId" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered product__modal" role="document">
            <div class="modal-content">
                <div class="product__modal-wrapper p-relative">
                    <div class="product__modal-close p-absolute">
                        <button data-bs-dismiss="modal"><i class="fal fa-times"></i></button>
                    </div>
                    <div class="product__modal-inner">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="product__modal-box">
                                    <div class="tab-content" id="modalTabContent">
                                    </div>
                                    <ul class="nav nav-tabs" id="modalTab" role="tablist">
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="product__modal-content">
                                    <h4 class="product__modal-title"><a href="~/home/DetailProduct" id="name-product-info"></a></h4>
                                    <div class="rating-shop mb-15">
                                        <span class="product__details-color d-sm-flex align-items-center mb-25" id="rating-number">

                                        </span>
                                    </div>
                                    <div class="product__modal-stock sku mb-30">
                                        <span>Supplier:</span>
                                        <span id="supplierId">Samsung C49J89: £875, Debenhams Plus</span>
                                    </div>
                                    <div class="product__modal-stock">
                                        <span>Categorize :</span>
                                        <span id="categorizeId">In Stock</span>
                                    </div>

                                    <div class="product__modal-price">
                                        <span id="priceInformation">$560.00</span>
                                    </div>
                                    <div class="product__modal-form mb-30">
                                        <form action="#">
                                            <div class="pro-quan-area d-lg-flex align-items-center">
                                                <div class="pro-cart-btn mb-25" id="action-godetail">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- shop modal end -->
</main>

@section Footer{
    <script >
        $(document).ready(function () {
            TopCategorize();
            SaleProduct();
            productBestSaler();
            TrenddingItem();
            NewArrival();
        });
        function TopCategorize() {
            $.ajax({
                url: "/home/topcategories",
                type: "Get",
                success: function (data) {
                    var str = "";
                    for (var i = 0; i < data.length; i++) {
                        str += `<div class="col-xxl-2 col-xl-2 col-lg-4 col-md-4 col-sm-6" id="${data[i].CategorizeID}">
                                <div class="category__item mb-30 grey-bg-3">
                                    <div class="category__thumb w-img fix">
                                        <a href="/home/shop">
                                            ${ShowImg(data[i], `style="width: 195px;height: 195px;"`)}
                                        </a>
                                    </div>
                                    <div class="category__content text-center">
                                        <h3 class="category__title">
                                            <a href="/home/shop">${data[i].DisplayName}</a>
                                        </h3>
                                        <span class="category__quantity">(70)</span>
                                    </div>
                                </div>
                            </div>`
                    }
                    $("#top-categorize").html(str);
                }
            });
        }
        function SaleProduct() {
            $.ajax({
                url: "/home/listsaleproduct",
                type: "Get",
                success: function (data) {
                    var str = "";
                    for (var i = 0; i < data.length; i++) {
                        var date = Date.parse(data[i].EndDate);
                        str += `<div class="product__sale-item p-relative">
                                    <div class="product__sale-thumb w-img fix">
                                        <a href="/home/DetailProduct/?id=${data[i].ProductID}">
                                            ${ShowImg(data[i],`style="width: 450px;height: 410px;"`)}
                                        </a>
                                        <div class="product__sale-flash">
                                            <span>${data[i].DiscountPercent}%</span>
                                        </div>
                                        <div class="product__action transition-3">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <svg viewBox="0 0 22 22">
                                                        <path d="M14.75 1A5.24 5.24 0 0 0 10 4 5.24 5.24 0 0 0 0 6.25C0 11.75 10 19 10 19s10-7.25 10-12.75A5.25 5.25 0 0 0 14.75 1z"/> 
                                                        </svg>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#productModalId" onclick="GetInformation('${data[i].ProductID}')">
                                                        <svg viewBox="0 0 22 22">
                                                        <path d="M11,19c-6.53,0-10.42-7.23-10.58-7.53L0.17,11l0.25-0.47C0.58,10.23,4.47,3,11,3s10.42,7.23,10.58,7.53L21.83,11l-0.25,0.47
                                                        C21.42,11.77,17.53,19,11,19z M2.46,11c0.92,1.49,4.08,6,8.54,6c4.48,0,7.63-4.51,8.54-6C18.62,9.52,15.46,5,11,5
                                                        C6.52,5,3.37,9.51,2.46,11z M11,15c-2.21,0-4-1.79-4-4s1.79-4,4-4s4,1.79,4,4S13.21,15,11,15z M11,9c-1.1,0-2,0.9-2,2s0.9,2,2,2
                                                        s2-0.9,2-2S12.1,9,11,9z"/>
                                                        </svg>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product__sale-content text-center">
                                        <span class="product__sale-tag">
                                            <a>${data[i].Categorize}</a>
                                        </span>
                                        <h3 class="product__sale-title">
                                            <a href="/home/DetailProduct/?id=${data[i].ProductID}">${data[i].DisplayName}</a>
                                        </h3>
                                        <div class="product__sale-price">
                                            <span class="price old-price">${data[i].oldPrice}VND</span>
                                            <span class="price new-price">${data[i].salePrice}VND</span>
                                        </div>
                                        <div class="product__countdown-wrapper product__border mt-20 pt-20">
                                            <div class="product__countdown" data-countdown="${date}"></div>
                                        </div>
                                    </div>
                                </div>`
                    }
                    $("#sale-product1").html(str);
                    $("#sale-product2").html(str);
                    product_sale_slider();
                    countDown();
                }
            });
        }

        function productBestSaler() {
            $.ajax({
                url: "/home/topproductbestsaler",
                type: "Get",
                success: function (data) {
                    var price = data.SalePrice == null ? data.SellPrice : data.SalePrice;
                    var str = `<div class="banner__top">
                            <h3 class="banner__title">Best Seller</h3>
                            <p>Lorem ipsum dolor amet, consectetur elit, eiusmod tempor incididunt</p>
                        </div>
                        <div class="banner__thumb w-img">
                            ${ShowImg(data,`style="width: 300px;height: 248px;"`)}
                        </div>
                        <div class="product__tag-2">
                            <span>
                                <a href="#">Wooden</a>
                            </span>
                        </div>
                        <h3 class="product__title-2">
                            <a href="~/home/DetailProduct">${data.DisplayName}</a>
                        </h3>
                        <div class="product__price-2">
                            <span class="price">${price} VND</span>
                        </div>`;
                    $("#product-bestsaller").html(str);
                    $("#img-product-best-saller").html(ShowImg(data,`style="width: 900px;height: 550px;`))
                }
            })
        }

        function TrenddingItem() {
            $.ajax({
                url:"/home/producttredding",
                type:"Get",
                success: function (data) {
                    var str = ``;
                    for (var i = 0; i <= data.length - 1; i += 2) {
                        var price = CheckPrice(data[i]);
                        var div1 =`<div class="product__item mb-20">
                                <div class="product__thumb w-img fix">
                                    <a href="/home/DetailProduct/?id=${data[i].ProductID}">
                                        ${ShowImg(data[i], `style="width: 240px;height: 240px;`)}
                                    </a>
                                    ${price[1]}
                                    <div class="product__action transition-3">
                                        <ul>
                                            <li>
                                                <a id="${data[i].ProductID}" onclick="LikeProduct('${data[i].ProductID}')">
                                                    <input type="checkbox" hidden/>
                                                    <i class="fa fa-heart"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#productModalId" onclick="GetInformation('${data[i].ProductID}')">
                                                    <svg viewBox="0 0 22 22">
                                                        <path d="M11,19c-6.53,0-10.42-7.23-10.58-7.53L0.17,11l0.25-0.47C0.58,10.23,4.47,3,11,3s10.42,7.23,10.58,7.53L21.83,11l-0.25,0.47
                                                            C21.42,11.77,17.53,19,11,19z M2.46,11c0.92,1.49,4.08,6,8.54,6c4.48,0,7.63-4.51,8.54-6C18.62,9.52,15.46,5,11,5
                                                            C6.52,5,3.37,9.51,2.46,11z M11,15c-2.21,0-4-1.79-4-4s1.79-4,4-4s4,1.79,4,4S13.21,15,11,15z M11,9c-1.1,0-2,0.9-2,2s0.9,2,2,2
                                                            s2-0.9,2-2S12.1,9,11,9z" />
                                                    </svg>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product__content text-center">
                                    <div class="product__tag">
                                        <span>
                                            <a href="#">${data[i].Categorize}</a>
                                        </span>
                                    </div>
                                    <h3 class="product__title">
                                        <a href="/home/DetailProduct/?id=${data[i].ProductID}">${data[i].DisplayName}</a>
                                    </h3>
                                    ${price[0]}
                                </div>
                            </div>`
                        var div2 = ``;
                        if (i + 1 < data.length) {
                            price = CheckPrice(data[i + 1]);
                            div2 = `<div class="product__item mb-20">
                                <div class="product__thumb w-img fix">
                                    <a href="/home/DetailProduct/?id=${data[i+1].ProductID}">
                                        ${ShowImg(data[i + 1], `style="width: 240px;height: 240px;`)}
                                    </a>
                                    ${price[1]}
                                    <div class="product__action transition-3">
                                        <ul>
                                            <li>
                                                <a>
                                                    <svg viewBox="0 0 22 22" class="nav-item-background">
                                                        <path d="M14.75 1A5.24 5.24 0 0 0 10 4 5.24 5.24 0 0 0 0 6.25C0 11.75 10 19 10 19s10-7.25 10-12.75A5.25 5.25 0 0 0 14.75 1z"/> 
                                                    </svg>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#productModalId" onclick="GetInformation('${data[i+1].ProductID}')">
                                                    <svg viewBox="0 0 22 22">
                                                        <path d="M11,19c-6.53,0-10.42-7.23-10.58-7.53L0.17,11l0.25-0.47C0.58,10.23,4.47,3,11,3s10.42,7.23,10.58,7.53L21.83,11l-0.25,0.47
                                                            C21.42,11.77,17.53,19,11,19z M2.46,11c0.92,1.49,4.08,6,8.54,6c4.48,0,7.63-4.51,8.54-6C18.62,9.52,15.46,5,11,5
                                                            C6.52,5,3.37,9.51,2.46,11z M11,15c-2.21,0-4-1.79-4-4s1.79-4,4-4s4,1.79,4,4S13.21,15,11,15z M11,9c-1.1,0-2,0.9-2,2s0.9,2,2,2
                                                            s2-0.9,2-2S12.1,9,11,9z" />
                                                    </svg>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product__content text-center">
                                    <div class="product__tag">
                                        <span>
                                            <a href="#">${data[i + 1].Categorize}</a>
                                        </span>
                                    </div>
                                    <h3 class="product__title">
                                        <a href="/home/DetailProduct/?id=${data[i+1].ProductID}">${data[i + 1].DisplayName}</a>
                                    </h3>
                                     ${price[0]}
                                </div>
                            </div>
                        </div>`;
                        }
                        str += `<div class="product__item-single">
                                ${div1}
                                ${div2}`;
                    }

                    $("#trendding-item").html(str);
                    product_item_slider();
                }
            })
        }

        // show data new arrival
        function NewArrival() {
            $.ajax({
                url: "/home/newarrival",
                type: "Get",
                success: function (data) {
                    var str = ``;
                    for (var i = 0; i < data.length; i++) {
                        var price = CheckPrice(data[i]);
                        str += `<div class="product__item mb-20">
                                        <div class="product__thumb w-img fix">
                                            <a href="/home/DetailProduct/?id=${data[i].ProductID}">
                                                ${ShowImg(data[i], `style="width: 240px;height: 240px;`)}
                                            </a>
                                            ${price[1]}
                                            <div class="product__action transition-3">
                                                <ul>
                                                    <li>
                                                     <a>
                                                        <svg viewBox="0 0 22 22" class="nav-item-background">
                                                            <path d="M14.75 1A5.24 5.24 0 0 0 10 4 5.24 5.24 0 0 0 0 6.25C0 11.75 10 19 10 19s10-7.25 10-12.75A5.25 5.25 0 0 0 14.75 1z"/>
                                                        </svg>
                                                    </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#productModalId" onclick="GetInformation('${data[i].ProductID}')">
                                                            <svg viewBox="0 0 22 22">
                                                                <path d="M11,19c-6.53,0-10.42-7.23-10.58-7.53L0.17,11l0.25-0.47C0.58,10.23,4.47,3,11,3s10.42,7.23,10.58,7.53L21.83,11l-0.25,0.47
                                                                        C21.42,11.77,17.53,19,11,19z M2.46,11c0.92,1.49,4.08,6,8.54,6c4.48,0,7.63-4.51,8.54-6C18.62,9.52,15.46,5,11,5
                                                                        C6.52,5,3.37,9.51,2.46,11z M11,15c-2.21,0-4-1.79-4-4s1.79-4,4-4s4,1.79,4,4S13.21,15,11,15z M11,9c-1.1,0-2,0.9-2,2s0.9,2,2,2
                                                                        s2-0.9,2-2S12.1,9,11,9z" />
                                                            </svg>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    <div class="product__content text-center">
                                    <div class="product__tag">
                                        <span>
                                            <a href="#">${data[i].Categorize}</a>
                                        </span>
                                    </div>
                                    <h3 class="product__title">
                                        <a href="/home/DetailProduct/?id=${data[i].ProductID}">${data[i].DisplayName}</a>
                                    </h3>
                                     ${price[0]}
                                </div>
                                    </div>`
                    }
                    
                    $("#product-arrival").html(str);
                    arrivalItem();
                }
            });
        }
        // get information
        function GetInformation(id) {
            $.ajax({
                url: "/home/getinformation",
                type: "Get",
                data: { id: id },
                success: function (data) {
                    //fill image information
                    var dataimgcontent = ``
                    var dataimgtap = ``
                    if (data.image.length != 0) {
                        for (var i = 0; i < data.image.length; i++) {
                            if (i == 0) {
                                dataimgcontent += `<div class="tab-pane fade show active" id="nav1" role="tabpanel" aria-labelledby="nav1-tab">
                                            <div class="product__modal-img w-img">
                                                <img src="data:image/gif;base64,${data.image[i]}" alt="">
                                            </div>
                                        </div>`;
                                dataimgtap += `<li class="nav-item" role="presentation">
                                            <button class="nav-link active" id="nav1-tab" data-bs-toggle="tab" data-bs-target="#nav1" type="button" role="tab" aria-controls="nav1" aria-selected="true">
                                                <img src="data:image/gif;base64,${data.image[i]}" style="width: 85px;height: 85px;" alt="">
                                            </button>
                                        </li>`
                            } else {
                                dataimgcontent += `<div class="tab-pane fade" id="nav${i + 1}" role="tabpanel" aria-labelledby="nav${i + 1}-tab">
                                            <div class="product__modal-img w-img">
                                                <img src="data:image/gif;base64,${data.image[i]}" alt="">
                                            </div>
                                        </div>`;
                                dataimgtap += `<li class="nav-item" role="presentation">
                                            <button class="nav-link" id="nav${i + 1}-tab" data-bs-toggle="tab" data-bs-target="#nav${i + 1}" type="button" role="tab" aria-controls="nav${i + 1}" aria-selected="false">
                                                <img src="data:image/gif;base64,${data.image[i]}" style="width: 85px;height: 85px;" alt="">
                                            </button>
                                        </li>`
                            }
                        }
                    } else {
                        dataimgcontent += `<div class="tab-pane fade show active" id="nav1" role="tabpanel" aria-labelledby="nav1-tab">
                                            <div class="product__modal-img w-img">
                                                <img src="/Assets/img/EmptyBox/Empty.png" alt="">
                                            </div>
                                        </div>`;
                        dataimgtap += `<li class="nav-item" role="presentation">
                                            <button class="nav-link active" id="nav1-tab" data-bs-toggle="tab" data-bs-target="#nav1" type="button" role="tab" aria-controls="nav1" aria-selected="true">
                                                <img src="/Assets/img/EmptyBox/Empty.png" style="width: 85px;height: 85px;" alt="">
                                            </button>
                                        </li>`
                    }
                    $("#modalTabContent").html(dataimgcontent);
                    $("#modalTab").html(dataimgtap);
                    //fill information
                    $("#name-product-info").text(data.DisplayName);
                    var ratting = data.Rating == null ? `This product The product has not been rated yet` : `Average number of stars: ${data.Rating} (<i  class="fas fa-star" style="color: #ff8429"></i>)`
                    $("#rating-number").html(ratting);
                    $("#categorizeId").html(data.Categorize);
                    $("#supplierId").html(data.Supplier);
                    var price = data.SalePrice == null ? data.SellPrice : data.SalePrice;
                    $("#priceInformation").html("Price: " + price + "VND");
                    $("#action-godetail").html(`<a href="/home/DetailProduct/?id=${data.ProductID}" class="add-to-cart-btn">Go to detail</a>`)
                }
            });
        }



        //like product
        function LikeProduct(productID) {
            var checked = $(`#${productID}`).find("input[type=checkbox]");
            if (checked.is(":checked")) {
                checked.attr('checked',false);
                $(`#${productID}`).find("i").removeClass("checked");

            } else {
                checked.attr('checked', 'checked');
                $(`#${productID}`).find("i").addClass("checked");
            }
            console.log(checked.is(":checked"));
        }








        //----------------------------------------------------------funciton---------------------------------------------------------------
        //reload slider
        function product_sale_slider() {
            $(".product__sale-slider").trigger('destroy.owl.carousel');
            $(".product__sale-slider").owlCarousel({
                //add owl carousel in activation class
                loop: true,
                margin: 0,
                items: 1,
                navText: ['<button class="nav-left"><i class="far fa-angle-left"></i></button>', '<button class="nav-right"><i class="far fa-angle-right"></i></button>'],
                nav: true,
                dots: false,
                responsive: {
                    0: {
                        items: 1
                    },
                    767: {
                        items: 1
                    },
                    992: {
                        items: 1
                    },
                    1200: {
                        items: 1
                    }
                }
            });
        }
        function countDown() {
            $('[data-countdown]').each(function () {

                var $this = $(this),
                    finalDate = $(this).data('countdown');

                $this.countdown(finalDate, function (event) {

                    $this.html(event.strftime('<span class="cdown days"><span class="time-count">%-D</span> <p>Days</p></span> <span class="cdown hour"><span class="time-count">%-H</span> <p>Hrs</p></span> <span class="cdown minutes"><span class="time-count">%M</span> <p>Min</p></span> <span class="cdown second"> <span><span class="time-count">%S</span> <p>Sec</p></span>'));

                });

            });
        }
        // show img
        function ShowImg(data,style) {
            var img = ``;
            img = `<img src="data:image/gif;base64,${data.image}" ${style} alt="">`;
            if (data.image == null) {
                img = `<img src="/Assets/img/EmptyBox/Empty.png" ${style} alt="">`;
            }
            return img;
        }
        //reload siler tredding item
        function product_item_slider() {
            $(".product__item-slider").trigger('destroy.owl.carousel');
            $(".product__item-slider").owlCarousel({
                //add owl carousel in activation class
                loop: true,
                margin: 28,
                items: 3,
                navText: ['<button class="nav-left"><i class="far fa-angle-left"></i></button>', '<button class="nav-right"><i class="far fa-angle-right"></i></button>'],
                nav: true,
                dots: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    576: {
                        items: 2
                    },
                    767: {
                        items: 2
                    },
                    992: {
                        items: 2
                    },
                    1200: {
                        items: 3
                    },
                    1400: {
                        items: 3
                    }
                }
            });
        }
        function arrivalItem() {
            $(".product__item-trending-slider").trigger('destroy.owl.carousel');

            $(".product__item-trending-slider").owlCarousel({
                //add owl carousel in activation class
                loop: true,
                margin: 30,
                items: 3,
                navText: ['<button class="nav-left"><i class="far fa-angle-left"></i></button>', '<button class="nav-right"><i class="far fa-angle-right"></i></button>'],
                nav: false,
                dots: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    767: {
                        items: 3
                    },
                    992: {
                        items: 4
                    },
                    1200: {
                        items: 5
                    }
                }
            });
        }
        //check discount product
        function CheckPrice(data) {
            var price1 = `<div class="product__price">
                                        <span class="price">${data.SellPrice}VND</span>
                                    </div>`;
            var percent1 = ``;
            if (data.SalePrice != null) {
                price1 = `<div class="product__sale-price">
                                            <span class="price old-price">${data.SellPrice}VND</span>
                                            <span class="price new-price">${data.SalePrice}VND</span>
                                        </div>`
                percent1 = `<div class="product__sale-flash">
                                            <span>${data.DiscountPercent}%</span>
                                        </div>`;
            }
            return [price1, percent1]
        }
    </script>
}   